$unit: 32px;
$padding: 6px;
$colortext: gray;

#titlebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: $unit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  color: $colortext;
}

img.icon {
  width: $unit - $padding * 2;
  height: $unit - $padding * 2;
  padding: $padding;
}

#content {
  flex-basis: auto;
  display: flex;
  align-items: center;

  select {
    background: inherit;
    border: 1px solid $colortext;
    height: $unit;
    width: 200px;
    color: $colortext;
  }
  select option {
    margin: 40px;
    background: black;
    color: #fff;
    line-height: $unit;
  }
}

#title {
  flex-grow: 1;
  -webkit-app-region: drag;
  text-align: center;
  font-size: $unit / 2.5;
  padding: $padding;
}

#window-controls {
  flex-grow: 0;
  flex-basis: $unit * 3;
  display: flex;
  flex-direction: row;

  > button {
    width: $unit;
    height: $unit;
    background: inherit;
    border: 0px;
    color: $colortext;
    line-height: $unit/2;
    font-size: $unit/2;
    vertical-align: middle;
    text-align: center;

    & .default:active,
    &.default:hover {
      background: #414141;
    }

    & .important:active,
    &.important:hover {
      background: #e81123;
      color: white;
    }
  }
}