<header id="titlebar" [ngClass]="{'maximized':isMaximized}">
  <div id="content">
    <span>
        <img src="assets/blueprint-icon.svg" class="icon" (click)="fs.load()">
    </span>

  </div>
  <div id="title">
    <span *ngIf="fs.opened">{{fs.folder}} - </span><span>Blueprint</span> 
  </div>
  <div id="window-controls">
    <button class="default" (click)="minimize()" tabindex="-1">🗕</button>
    <button class="default" (click)="maximize()" *ngIf="!isMaximized" tabindex="-1">🗖</button>
    <button class="default" (click)="unmaximize()" *ngIf="isMaximized" tabindex="-1">🗗</button>
    <button class="important" (click)="close()" tabindex="-1">🗙</button>
  </div>
</header>
