<div class="stroke-window">
  <div class="window">
    <div class="header">
      <div class="header-group"><button mat-icon-button [matMenuTriggerFor]="MenuResource">{{icon}}</button></div>
      <div><template #headerContainer></template></div>
      <div class="gap-flex"></div>
    </div>
    <div class="body">
      <template #bodyContainer></template>
    </div>
  </div>
</div>
<mat-menu #MenuResource="matMenu">
  <button mat-menu-item *ngFor="let body of windows| keyvalue" (click)="switch(body.key)">{{body.value.icon}} {{body.value.name}}</button>
</mat-menu>
