{%

set paddings = '⬛borders' |fromMe | fromGlossary | get('📏paddings') | millimeter;
set corners = '⬛borders' |fromMe | fromGlossary | get('📏corners') | millimeter;
set width = '🃏card' |fromMe | fromGlossary | get('📏width') | millimeter;
set height = '🃏card' |fromMe | fromGlossary | get('📏height') | millimeter;

set contentCorners = corners/2;
set contentWidth = width - paddings*2;
set contentHeight = height - paddings*2;
set lineHeight = 10;

%}
<svg xmlns="http://www.w3.org/2000/svg" 
width="{{ width }}"
height="{{ height }}" viewBox="0 0 {{ width }} {{ height }}">
  <rect x="0" y="0" width="{{width}}" height="{{height}}" rx="4" ry="4" fill="gray"/>
  <g id="content" class="debug" transform="translate(margins,margins)">
    <rect width="{{contentWidth}}" height="{{contentHeight}}" rx="{{contentCorners}}" ry="{{contentCorners}}" fill="red"
stroke="green" stroke-width="0"/>
    <rect id="title" class="debug" width="{{contentWidth}}" height="{{lineHeight}}" rx="{{contentCorners}}" ry="{{contentCorners}}" fill="green"/>
  </g>
</svg>