<div *ngIf="workspace && resource">
  {{resource.name}}
  <button mat-icon-button [matMenuTriggerFor]="MenuResource" class="cloneIcon">
    <mat-icon>unfold_more</mat-icon>
  </button>
  <mat-menu #MenuResource="matMenu">
    <button mat-menu-item *ngFor="let resource of workspace.resources" (click)="selectResource(resource)">{{resource.name}}</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="renameResource()">rename '{{resource.name}}'</button>
    <button mat-menu-item (click)="createResource()">create new file</button>
  </mat-menu>
</div>