<app-titlebar></app-titlebar>
<div class="body">
  <as-split direction="horizontal" (dragEnd)="resize()" (dragStart)="resizing()">
    <as-split-area [size]="40">
      <div class="explorer">
        <app-explorer></app-explorer>
      </div>
      <div class="editor-content">
        <app-editor></app-editor>
      </div>
    </as-split-area>
    <as-split-area [size]="60">
      <mat-tab-group (animationDone)="animationDone()" [(selectedIndex)]="selectedIndex">
        <mat-tab>
          <ng-template mat-tab-label>
            {{currentExport.icon}}{{currentExport.name}}
            <button *ngIf="exports>0" mat-icon-button [matMenuTriggerFor]="Menu" class="cloneIcon">
              <mat-icon>unfold_more</mat-icon>
            </button>
          </ng-template>
  
          <div *ngIf="pdfSrc" class="content">
            <pdf-viewer [src]="pdfSrc" [original-size]="false" [show-borders]="true"></pdf-viewer>
          </div>
  
          <div *ngIf="code" class="content">
            <pre style="overflow-x:hidden">
            {{code}}
          </pre>
          </div>
          <div *ngIf="bundleResult" class="content">
            <p>
              {{bundleResult.filename}}:
            </p>
            <ul>
              <li *ngFor="let f of bundleResult.files">{{f.filename}}</li>
            </ul>
          </div>
          <mat-menu #Menu="matMenu">
            <a mat-menu-item *ngIf="download" [href]="download.content" [download]="download.name">📥
              <b>{{currentExport.icon}}{{download.name}}</b>
            </a>
            <mat-divider *ngIf="download"></mat-divider>
  
            <button mat-menu-item *ngFor="let print of printings"
              (click)="selectPrint(print)">{{print.icon}}{{print.name}}</button>
            <mat-divider *ngIf="printings"></mat-divider>
  
            <button mat-menu-item *ngFor="let theBundle of bundles"
              (click)="selectBundle(theBundle)">{{theBundle.icon}}{{theBundle.name}}</button>
            <mat-divider *ngIf="bundles"></mat-divider>
  
            <button mat-menu-item (click)="selectCode()">{{codeExport.icon}}{{codeExport.name}}</button>
          </mat-menu>
        </mat-tab>
        <mat-tab label="⚙️Debug">
          <div class="content">
            <h2>Static Analysis</h2>
            <ul>
              <li *ngIf="(reports| async)?.length == 0">✅pass</li>
              <li *ngFor="let report of reports| async">🛑{{report.resource.name}} {{report.errors.length}} errors</li>
            </ul>
            <h3>Runtime errors</h3>
            <ul>
              <li *ngIf="runtimeErrors.length == 0">✅pass</li>
              <li *ngFor="let error of runtimeErrors">{{error.entry.icon}}{{error.entry.name}}: 🔥 {{error.message}} <a *ngIf="error.url" [href]="safe(error.url)">[Get data content]</a></li>
            </ul>
          </div>
        </mat-tab>
        <mat-tab label="🔣Glyphs">
          <div class="content" style="font-family: 'game-icons';">
            <div *ngFor="let item of gameIcons | keyvalue"
              style="display:inline-block;margin:0.1em;border:1px black solid;">
              <div style="font-size:3em;text-align:center" [innerHTML]="item.value + ' '"></div>
              <div>{{item.key}}</div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="⚙️Config.">
          <div class="content">
            <app-configuration></app-configuration>
          </div>
        </mat-tab>
  
        <mat-tab label="❔About">
          <div class="content">
            <markdown src="assets/about.md"></markdown>
          </div>
        </mat-tab>
      </mat-tab-group>
    </as-split-area>
  </as-split>
<!--<div class="left">

  </div>
  <div class="right">
    
  </div> -->
</div>
