<div *ngIf="workspace && resource">
  <div class="header-group">
    <button mat-icon-button [matMenuTriggerFor]="MenuResource">
      <mat-icon>unfold_more</mat-icon>
    </button>
    <button mat-button (click)="renameResource()">
      {{resource.name}}
    </button>
    <button mat-icon-button (click)="createResource()">
      📄
    </button>
  </div>
</div>

<mat-menu #MenuResource="matMenu">
  <button mat-menu-item *ngFor="let resource of workspace.resources"
    (click)="selectResource(resource)">{{resource.name}}</button>
</mat-menu>
